.dmbs-footer {
  padding: 20px 0;
  border-top: 20px solid #3FAFED;
  .footer-logo-div {
    min-height: 65px;
    max-height: 65px;
  }
  .footer-logos {
    max-height: 65px;
    max-width: 200px;
  }
  .footer-right-border {
    border-right: 1px dashed rgba(63, 175, 237, 0.3);
    min-height: 210px;
  }
  .list-unstyled {
    margin-top: 15px;
    li {
      padding-bottom: 5px;
    }
  }
}