.gmf-footer {
  padding: 30px 0;
  .footer-logo-div {
    min-height: 65px;
    max-height: 65px;
    .footer-logos {
      max-height: 65px;
      max-width: 200px;
    }
  }
  .footer-right-border {
    border-right: 1px dashed rgba(63, 175, 237, 0.5);
  }
  .list-unstyled {
    margin-top: 20px;
    li {
      padding-bottom: 5px;
    }
  }
  .copyright-footer {
    color: #9CAFC3;
    font-size: 12px;
  }
  a {
    font-weight: 300;
  }
}