.dmbs-header {
  margin-top: 10px;
  margin-bottom: 10px;

  .dmbs-header-img {
    padding-left: 0;
    .header-logo {
      max-width: 300px;
      max-height: 100px;
    }
  }

  .dmbs-header-text {
    text-align: right;
  }
}