.dmbs-header {
  margin-top: 10px;
  margin-bottom: 10px;

  .dmbs-header-img {
    float: left;
    .header-logo {
      max-width: 300px;
      max-height: 100px;
    }
  }

  .dmbs-header-text {
    float: left;
    padding: 0 30px;
  }

  #home-carousel {
    .carousel-caption {
      pointer-events: none;
      h1 {

      }
      h3 {

      }
    }
  }
}


// MENU
.dmbs-top-menu {
  .navbar-inverse {
    background-color: rgba(0,173,239,0.9);
  }
  .navbar-inverse .navbar-nav>li>a:hover, 
  .navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #039AD4;
  }
  .navbar-inverse .navbar-nav>li>a {
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
