.std-panel {
  padding-top: 40px;
  padding-bottom: 40px;
}
.what-is-maker-faire {
  h2 {

  }
  p {
    color: #6f6f6f;
    font-size: 18px;
  }
}

.call-to-action {
  h2 {

  }
  p {
    color: #6f6f6f;
    font-size: 18px;
  }
  .cta-panel-btn {
    padding-top: 20px;
  }
}


.image-text-panel {
  h3 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: .8em;
  }
  p {
  }
}


.featured-maker-panel {
  .featured-maker-panel-img {
    padding: 15px;
    img {
      width: 100%;
      height: auto;
    }
  }
  h4 {
  }
  p {
  }
}

