.dmbs-main {
  margin-bottom: 40px;
  .panel-hr:last-child {
    display: none;
  }
}

.std-panel {
  padding-top: 40px;
  padding-bottom: 40px;
}
.what-is-maker-faire {
  h2 {

  }
  p {
    color: #6f6f6f;
    font-size: 18px;
  }
}

.call-to-action {
  h2 {

  }
  p {
    color: #6f6f6f;
    font-size: 18px;
  }
  .cta-panel-btn {
    padding-top: 20px;
  }
}


.image-text-panel {
  h3 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: .8em;
  }
  p {
  }
}

.recent-post-panel {
  a {
    border: 1px solid rgba(30,30,30,0.4);
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  .recent-post-img {
    height: 225px;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h4 {
    color: #333;
    font-weight: 600;
  }
  p {
    color: #333;
  }
}


.featured-maker-panel {
  .featured-maker-panel-img {
    padding: 15px;
    img {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h4 {
  }
  p {
  }
}
